In [2]:
import pandas as pd
import numpy as np
import re
import regex
from pprint import pprint
import string
import nltk

In [3]:
df = pd.read_csv("Review.csv")

In [4]:
df1 = pd.DataFrame(df)
df1['Type'] = ""

In [5]:
df1.head()

,revId,revRating,revDate,revText,Type
0,TS67FlVZoTd1PBGWKABJqA,5,2019-07-10 08:54:37,For a 1st time visit this place was amazing! T...,
1,uPI4LkkuOntW9gS6SZw-cg,3,2019-10-08 16:46:06,"I have been here several times, mostly because...",
2,64Teyh5BP_JxOYuU7C8JIQ,5,2019-06-15 13:27:43,The food is consistently great and I highly re...,
3,z4GN896uCw4YWZBeL5hiYQ,5,2019-11-09 05:22:45,"4.5 stars, but I'll round up because I was ple...",
4,HbsXHT7wW9etlvMHp9r67A,1,2019-10-02 16:40:14,"So I'm not too big into Yelp, but I created th...",

In [6]:
positive = open("Positive.txt","r")
negative = open("Negative.txt","r")

In [7]:
list_pos = []
for x in positive:
    list_pos.append(x)

In [8]:
list_neg = []
for x in negative:
    list_neg.append(x)

In [9]:
for i in range(len(list_pos)):
    list_pos[i] = list_pos[i].rstrip("\n\r")
    list_pos[i] = list_pos[i].lower()

In [10]:
for i in range(len(list_neg)):
    list_neg[i] = list_neg[i].rstrip("\n\r")
    list_neg[i] = list_neg[i].lower()

In [1]:
# list_pos

In [2]:
# list_neg

In [13]:
translator = str.maketrans('', '', string.punctuation)

listit=[]


for i in df1['revText']:
    i = str(i)
    senti = i.lower()
    senti = senti.translate(translator) # remove punctuation
    senti = senti.encode('ascii', 'ignore').decode("utf-8") # remove unicode
    senti = re.sub(r"http\S+", "", senti) # remove url
    bagofwordsi = nltk.word_tokenize(senti) #collect list of words
    
    
    dicti = {}
    for j in (bagofwordsi):
        #print(i)
        if j in list_pos:
            dicti[j] = "Positive"
        elif j in list_neg:
            dicti[j] = "Negative"
            
    #print(dicti)     
    pos_count = 0
    neg_count = 0
    for k in dicti.values():
        if k == "Positive":
            pos_count = pos_count +1
        if k == "Negative":
            neg_count = neg_count +1
            
    totalcount = 0
    totalcount = pos_count + neg_count
    if totalcount != 0 :
        pos_percent = pos_count / totalcount
        #print(pos_percent)
        neg_percent = neg_count / totalcount
        #print(neg_percent)
        if pos_percent > neg_percent:
            listit.append("Positive")
        elif pos_percent < neg_percent:
            listit.append("Negative")
        else: 
            listit.append("Neutral")
    else:
        listit.append("Neutral")
    
df1['Type'] = listit

In [14]:
df1.head()

,revId,revRating,revDate,revText,Type
0,TS67FlVZoTd1PBGWKABJqA,5,2019-07-10 08:54:37,For a 1st time visit this place was amazing! T...,Positive
1,uPI4LkkuOntW9gS6SZw-cg,3,2019-10-08 16:46:06,"I have been here several times, mostly because...",Positive
2,64Teyh5BP_JxOYuU7C8JIQ,5,2019-06-15 13:27:43,The food is consistently great and I highly re...,Positive
3,z4GN896uCw4YWZBeL5hiYQ,5,2019-11-09 05:22:45,"4.5 stars, but I'll round up because I was ple...",Positive
4,HbsXHT7wW9etlvMHp9r67A,1,2019-10-02 16:40:14,"So I'm not too big into Yelp, but I created th...",Negative

In [30]:
df1['revText']

0       For a 1st time visit this place was amazing! T...
1       I have been here several times, mostly because...
2       The food is consistently great and I highly re...
3       4.5 stars, but I'll round up because I was ple...
4       So I'm not too big into Yelp, but I created th...
                              ...
7965    Pretty decent place to get quality italian foo...
7966    I have been here several times over the years ...
7967    A+ atmosphere, service, & food. \n\nThe cockta...
7968    I was really impressed with this place! \nI co...
7969    We ventured to Stable for the first time to tr...
Name: revText, Length: 7970, dtype: object

In [28]:
df1.to_csv('textclassification.csv')

In [15]:
#df1.to_csv("revanalysis.csv")

In [16]:
df2 = pd.read_excel("Restaurant.xlsx")

In [17]:
df2.head()

,resId,resName,resStreet,resCity,resState,resPostalCode,resPhoneNo,resLat,resLong,resStars,...,thuStartTime,thuEndTime,friStartTime,friEndTime,satStartTime,satEndTime,sunStartTime,sunEndTime,stopId,walktimeToRes
0,-kvZ402OkPZfTM6wt_s4BQ,Popeyes Louisiana Kitchen,9147 Riggs Rd,Adelphi,MD,20783.0,(301) 434-1450,39.004585,-76.969279,2.5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,34778,3.638811
1,A1R_E8ZQ5hsW_jrQwOqCLA,Basil's Pizza,9113 Riggs Rd,Adelphi,MD,20783.0,(301) 434-4666,39.004547,-76.970743,3.5,...,11:00:00,23:00:00,11:00:00,23:00:00,11:00:00,23:00:00,NaN,NaN,34650,2.298804
2,Hl3O8SzBoAPRju1WqhIdKQ,Burger King,2208 University Blvd E,Adelphi,MD,20783.0,NaN,38.984210,-76.975220,2.5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,30193,1.322751
3,WJKA3MTOMEFcPCSMaytLVw,China Golden,9127 Riggs Rd,Adelphi,MD,20783.0,(301) 434-5928,39.003739,-76.970217,3.0,...,11:00:00,23:00:00,11:00:00,23:30:00,11:00:00,23:30:00,12:00:00,22:00:00,34650,2.189472
4,VUfflugAZa3MxbtzDTGnEA,HammerDown BBQ,41153 John Mosby Hwy,Aldie,VA,20105.0,(703) 542-8692,38.952770,-77.580560,4.5,...,11:00:00,19:00:00,11:00:00,19:00:00,NaN,NaN,NaN,NaN,34777,431.721054

In [18]:
df3 = pd.read_csv("Write.csv")

In [19]:
df3.head()

                    cusId                   resId                   revId
0  yp6qVal-dnBkIQEqEqit1w  _-5tDzcwylu7MyKsmXDD6Q  TS67FlVZoTd1PBGWKABJqA
1  jYquMnMQp-tr78mmPCQwpQ  _-5tDzcwylu7MyKsmXDD6Q  uPI4LkkuOntW9gS6SZw-cg
2  IY83XzLtkElfaX1rpJMoDA  _-5tDzcwylu7MyKsmXDD6Q  64Teyh5BP_JxOYuU7C8JIQ
3  hSkI802XqTrcx_hB2FKLaA  _14dBdmGCxnNuHBH7-vOWQ  z4GN896uCw4YWZBeL5hiYQ
4  N_SIgQpg30dmpEsw3i-T-g  _14dBdmGCxnNuHBH7-vOWQ  HbsXHT7wW9etlvMHp9r67A

In [25]:
result1 = pd.merge(df3,df1,left_on = 'revId',
                   right_on = 'revId',how = 'inner')

In [26]:
result1

,cusId,resId,revId,revRating,revDate,revText,Type
0,yp6qVal-dnBkIQEqEqit1w,_-5tDzcwylu7MyKsmXDD6Q,TS67FlVZoTd1PBGWKABJqA,5,2019-07-10 08:54:37,For a 1st time visit this place was amazing! T...,Positive
1,jYquMnMQp-tr78mmPCQwpQ,_-5tDzcwylu7MyKsmXDD6Q,uPI4LkkuOntW9gS6SZw-cg,3,2019-10-08 16:46:06,"I have been here several times, mostly because...",Positive
2,IY83XzLtkElfaX1rpJMoDA,_-5tDzcwylu7MyKsmXDD6Q,64Teyh5BP_JxOYuU7C8JIQ,5,2019-06-15 13:27:43,The food is consistently great and I highly re...,Positive
3,hSkI802XqTrcx_hB2FKLaA,_14dBdmGCxnNuHBH7-vOWQ,z4GN896uCw4YWZBeL5hiYQ,5,2019-11-09 05:22:45,"4.5 stars, but I'll round up because I was ple...",Positive
4,N_SIgQpg30dmpEsw3i-T-g,_14dBdmGCxnNuHBH7-vOWQ,HbsXHT7wW9etlvMHp9r67A,1,2019-10-02 16:40:14,"So I'm not too big into Yelp, but I created th...",Negative
...,...,...,...,...,...,...,...
7965,JbJHPWAGi2ycf6BJHFKqaA,zZoK14CWPnuGXTU7VOjP4w,i2FOG9Zt5tnUBQQEGZ2fzg,4,2019-10-10 17:41:47,Pretty decent place to get quality italian foo...,Positive
7966,Z6krEM46zpbovuqv7og79g,zZoK14CWPnuGXTU7VOjP4w,8rWWAo4fmUtqveNyi93XmA,5,2019-10-05 22:50:22,I have been here several times over the years ...,Positive
7967,ddz6aJ7BQy6OXI4ayBpnmg,ZZpshW3sxlMbQrn1bLhM1g,whXSkJpYPgfUrelX6630UA,5,2019-08-06 17:41:06,"A+ atmosphere, service, & food. \n\nThe cockta...",Positive
7968,QbrQsI8rwjS8G7XMmQFxrA,ZZpshW3sxlMbQrn1bLhM1g,3wiPebdDhWW8yjxUEaMbzg,4,2019-09-19 08:00:47,I was really impressed with this place! \nI co...,Positive
7969,imvR2f0z32v2Cs-Fr14TZQ,ZZpshW3sxlMbQrn1bLhM1g,Caf7Gesd41SoUVGCQ_jFUQ,5,2019-07-31 07:42:58,We ventured to Stable for the first time to tr...,Positive

In [27]:
result1.to_csv('revanalysis.csv')

In [29]:
result1.to_excel('revanalysis.xlsx')